.logo-small {
  display: none;
}

.nav-black,
.nav-white {
  padding-left: 15px;
  padding-right: 15px;
}

.main-page-news {
  margin-right: 8px;
  padding-left: 10px;
}

.nav-white {
  margin-left: 0;
}

.header-bottom-text {
  padding-left: 20px;
}

.ticket-btn,
.happening-now,
.tnw2020 {
  display: flex;
}

.tnw2020 {
  height: 50px;
  width: 120px;
}

.happening-now {
  width: 120px;
  align-self: center;
  color: #545454;
}

.grid1-2 {
  height: 65vh;
  width: 100%;
}

.main-page-news {
  width: 98%;
}

.main-page-news-2,
.main-page-news-3 {
  height: 240px;
  width: 98%;
  padding-right: 10px;
}

.ticket-btn {
  color: white;
  font-weight: bold;
  background-color: #00cccc;
  border-radius: 3px;
  width: 85px;
  text-align: center;
  align-self: center;
  border: none;
  margin-right: 10px;
  padding: 5px;
}

.page-news {
  position: relative;
}

.big-white-logo,
.date {
  visibility: visible;
  position: absolute;
  top: 15px;
}

.big-white-logo {
  left: 15px;
  width: 50%;
}

.date {
  right: 20px;
}

.date {
  color: white;
}

.bigest-font {
  font-size: 3rem;
  line-height: 4rem;
}

.bigger-font {
  font-size: 2.2rem;
  line-height: 2.5rem;
}

.latest-news-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 20px;
}

.founding-horizontal-links {
  display: flex;
  flex-direction: row ;
  padding: 0;
}

.funding-round-head a {
  padding-right:10px;
  margin-right: 10px;
  align-self: center;
}

.founding-horizontal-border {
  border-right: 1px solid #ff4422;
}

.latest-news-h1,
.lastest-deals-head {
  max-width: 1024px;
  margin: 40px auto;
}

.lastest-deals-head {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}

.latest-deals-h5 {
  margin-right: 10px;
}

.latest-deals-h1 {
  margin-left: 25px;
}

.latest-news-section,
.funding-round-section {
  max-width: 1024px;
  margin: 0 auto;
}

.funding-round-head {
  flex-direction: row;
  justify-content: space-between;
}

.funding-market-inv {
  display: block;
}

.grid-3 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
}

.big-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
}

.access-btn {
  background-color: #146ff8;
  padding: 12px 14px;
  font-size: 2.2rem;
  color: white;
  position: fixed;
  bottom: 1px;
  right: 1px;
  border: none;
  border-radius: 50%;
}

.access-btn:hover {
  font-size: 2.4rem;
  padding: 13px 15px;
  cursor: pointer;
  transition: 0.2s;
}
