* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 60%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

/* BREAKPOINTS
  768 px width
  1020 px width
*/

/* GLOBAL SETTINGS */

.d-flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.text-color-white {
  color: white;
}

.text-color-gray {
  color: gray;
}

.primary-font {
  font-family: 'Poppins', sans-serif;
}

.second-font {
  font-family: 'Archivo', sans-serif;
}

.font-smaller {
  font-size: 1rem;
}

.font-small {
  font-size: 1.2rem;
}

.font-medium {
  font-size: 1.5rem;
}

.font-title {
  font-size: 2.6rem;
}

.title-news-black {
  color: black;
  margin-bottom: 5px;
  line-height: 1.6rem;
}

.orange-color {
  color: #ff4422;
}

/* HEADER */

.container {
  margin-top: 100px;
}

.header {
  width: 100vw;
  position: fixed;
  background-color: white;
  top: 0;
}

.header-top {
  justify-content: space-between;
}

.logo-small {
  width: 100px;
  height: auto;
}

.header-btns i {
  padding: 15px;
  border-left: 1px solid #e8e8e8;
}

.search-icon-header {
  color: #e8e8e8;
  font-size: 2.2rem;
}

.menu-icon-header {
  color: #ff4422;
  font-size: 2.2rem;
}

.header-bottom {
  width: 100%;
  background-color: #ffdd33;
}

.header-bottom a {
  text-align: center;
  text-decoration: none;
}

.header-bottom-text {
  color: black;
  text-decoration: none;
  padding: 18px 0;
}

.tiny-arrow {
  font-size: 0.8rem;
}

/* FIRST PAGE NEWS SECTION */

.main-page-news {
  background: url(/assets/images/news-image-one.png);
  background-position: left 25% top 10%;
  background-size: 100% 100%;
}

.page-news {
  height: 180px;
  width: 95%;
  padding: 0 10px 15px 10px;
  align-self: center;
  justify-content: flex-end;
  margin-bottom: 10px ;
  box-shadow: inset -11px -30px 30px 23px rgba(0,0,0,0.9);
}

.page-news-title {
  font-size: 1.4rem;
}

.page-news-heading {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 5px 0;
}

.main-page-news-2 {
  background: url(/assets/images/news-image-two.jpg);
  background-size: cover;
}

.main-page-news-3 {
  background: url(/assets/images/news-image-three.png);
  background-size: 100% 100%;
  box-shadow: inset -6px -114px 14px -7px rgba(0,0,0,0.88);
}

/* LATEST NEWS SECTION */

.latest-news-div {
  padding: 10px 12px 5px 10px;
}

.latest-bg-img-1 {
  background-image: url(/assets/images/latest-news/latest-one.jpg);
}

.latest-bg-img-2 {
  background-image: url(/assets/images/latest-news/latest-two.png);
}

.latest-bg-img-3 {
  background-image: url(/assets/images/latest-news/latest-three.jpg);
}

.latest-bg-img-4 {
  background-image: url(/assets/images/latest-news/latest-four.png);
}

.latest-bg-img-5 {
  background-image: url(/assets/images/latest-news/latest-five.png);
}

.latest-bg-img-6 {
  background-image: url(/assets/images/latest-news/latest-six.jpg);
}

.latest-bg-img-7 {
  background-image: url(/assets/images/latest-news/latest-seven.jpg);
}

.latest-bg-img-8 {
  background-image: url(/assets/images/latest-news/latest-eigth.jpg);
}

.latest-news-anchor {
  min-width: 75px;
  height: 75px;
  background-position: 50%;
  background-size: cover;
}

.latest-news-img {
  height: 100px;
  width: 100px;
}

.latest-text-container {
  margin-left: 10px;
}

.latest-text-container div a {
  padding-right: 10px;
}

/* LATEST FUNDIND ROUND SECTION  */

.funding-round-section {
  margin-top: 30px;
  width: 95%;
  align-self: center;
}

.funding-round-h1 {
  line-height: 2.8rem;
}

.funding-round-head  a {
  font-weight: 300;
  padding: 10px 0;
}

.funding-market-company {
  position: relative;
}

.funding-market-company-top {
  background:  #ff4422;
  padding: 14px 0;
  text-align: left;
  padding-left: 80px;
  width: 100%;
}

.funding-market-company-bottom {
  background: #ffebe7;
  text-align: left;
  padding: 20px 0 20px 80px;
}

.fund-company-name {
  font-size: 2rem;
  font-weight: bold;
}

.fund-company-logo {
  position: absolute;
  left: 5px;
  top: 8px;
  width: 60px;
  height: 60px;
}

.funding-company-type {
  margin: 10px 0;
  background: #fffaf8;
  border-bottom: 1px solid #ffebe7;
}

.funding-company-type i {
  margin: 0 4px 6px 0;
}

.funding-company-info {
  background: #fffaf8;
  margin-bottom: 10px;
}

.funding-company-info a {
  color: #746e64;
}

/* ----------- Hard Fork Section */

.main-hardfork-news {
  background: url(/assets/images/latest-news/latest-six.jpg);
  background-size: 100% 100%;
  box-shadow: inset -6px -114px 14px -7px rgba(0,0,0,0.88);
  height: 210px;
}

.second-hardfork-news {
  height: 96px;
  width: 95%;
  margin: 0 auto;
  background-color: #fff4f2;
}

.hardfork-a {
  font-weight: 700;
}

.hard-fork-img {
  min-width: 96px;
  height: 96px;
  background-image: url(/assets/images/hardfork.jpg);
  background-position: center;
  background-size: cover;
}

.hardfork-list{
  list-style-type: square;
  display: list-item;
  list-style-position: initial;
}
