* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 60%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

/* BREAKPOINTS
  768 px width
  1020 px width
*/

/* GLOBAL SETTINGS */

.d-flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.text-color-white {
  color: white;
}

.text-color-gray {
  color: gray;
}

.primary-font {
  font-family: 'Poppins', sans-serif;
}

.second-font {
  font-family: 'Archivo', sans-serif;
}

.font-small {
  font-size: 1.2rem;
}

.title-news-black {
  color: black;
}

/* HEADER */

.header {
  width: 100vw;
}

.header-top {
  justify-content: space-between;
}

.logo-small {
  width: 100px;
  height: auto;
}

.header-btns i {
  padding: 15px;
  border-left: 1px solid #e8e8e8;
}

.search-icon-header {
  color: #e8e8e8;
  font-size: 2.2rem;
}

.menu-icon-header {
  color: #ff4422;
  font-size: 2.2rem;
}

.header-bottom {
  width: 100%;
  background-color: #ffdd33;
}

.header-bottom a {
  text-align: center;
  text-decoration: none;
}

.header-bottom-text {
  color: black;
  text-decoration: none;
  padding: 18px 0;
}

.tiny-arrow {
  font-size: 0.8rem;
}

/* FIRST PAGE NEWS SECTION */

.main-page-news {
  background: url(/assets/images/news-image-one.png);
  background-position: left 25% top 10%;
  background-size: 100% 100%;
}

.page-news {
  height: 200px;
  width: 95%;
  padding: 0 10px 15px 10px;
  align-self: center;
  justify-content: flex-end;
  margin-bottom: 10px ;
  box-shadow: inset -11px -30px 30px 23px rgba(0,0,0,0.9);
}

.page-news-title {
  font-size: 1.4rem;
}

.page-news-heading {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 5px 0;
}

.main-page-news-2 {
  background: url(/assets/images/news-image-two.jpg);
  background-size: cover;
}

.main-page-news-3 {
  background: url(/assets/images/news-image-three.png);
  background-size: 100% 100%;
  box-shadow: inset -6px -114px 14px -7px rgba(0,0,0,0.88);
}

/* LATEST NEWS SECTION */

.latest-news-div {
  padding: 30px 20px 15px 30px  ;
}

.latest-news-img {
width: 80px;
height: 85px;
} 






